<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
        <table border="3px">
            <tr>
                
                <th style="color:blue">DEPTNO</th>
                <th style="color:blueviolet">DNAME</th>
                <th style="color:brown">LOC</th>
            </tr>
        {% for i in name %}
          <tr>
            <td>{{i.DEPTNO}}</td>
            <td>{{i.DNAME}}</td>
            <td>{{i.LOC}}</td>
          </tr>
        {% endfor %}

        </table>
    </h1>
    
</body>
</html>